.header {
  padding: 20px;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 200;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLink {
  margin-left: 20px;
  padding: 8px;
  text-decoration: none;
  transition: 0.2s linear;
  margin-right: 10px;
}

.navLink:hover {
  border-bottom: 2px solid;
}
