/* styles/CoursePage.module.css

.coursePage {
    padding: 20px;
    text-align: center;
  }
  
  .coursePage h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .coursePage p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .courseImage {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
   */