.heroSection {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
  height: 90vh;
  width: 100%;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.heroSection > div {
  width: 50%;
}

.heroInfo {
  text-align: left;
  padding: 6.5rem 50px 0;
}

.heroInfo p {
  margin: 4rem 0;
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage > img {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    height: auto; /* Adjust height for smaller screens */
  }

  .heroSection > div {
    width: 100%;
  }

  .heroInfo {
    text-align: center;
    padding: 2rem 20px;
  }

  .heroInfo h1 {
    font-size: 2.5rem;
  }

  .heroInfo p {
    margin: 3rem 0 4.4rem;
  }

  .heroImage {
    justify-content: center;
    margin-top: 20px;
  }

  .heroImage > img {
    width: 80%;
    max-width: 300px;
  }
}
