.footer {
    background-color: #17253c;
    color: white;
    padding: 0 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-us, .follow-us {
    margin: 0;
  }
  
  .follow-us p {
    margin: 0;
  }
  